
*.user
.hg*
*/.hg*
*.cbp
*.cbTemp
*.srec
*.layout
*.depend
*.user
*.user.*
*.sublime-*
.buildconfig
*/bin/Debug/*
*/bin/fsw*
*/bin/timegen
Makefile
subprojects/Catch2-*
subprojects/pybind11-*
subprojects/packagecache/*        
